<div #chat id="chat">
  <div id="load"> <input type="button" (click)="loadPrevious()" value="Load previous" /></div>
  <div #messagesCointener class="message" *ngFor="let message of this.messages"><p>{{ message.senderName }} <br /> {{ message.content }}</p></div>
</div>
<div id="textInput">
  Input: <input type="text" id="inputText" [(ngModel)]="input" />
  <input type="button" (click)='send()' value="Send"/>
</div>
<div>
</div>
<ng-container *ngIf="isAlert">
  <div id="alert" >
    <p>Error while download a messages. Please note at the notifications</p>
    <input type="button" value="Ok" (click)="ok()" />
  </div>
<ng-container>
